<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punch-in</title>
    <link rel="stylesheet" href="{{ asset('css/global.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">
</head>
<body>
    {% include 'partials/navbar.html.twig' %}

    <section class="background-black-align">
        <div class="login-container">
            Usuário <p id="user_email"></p>
            <br>
            <h3>Último ponto</h3>
            <p>Registrado ás: 08:00</p>
            <br>
            <hr>
            <br>
            <button class="default-button" onclick="registraPonto()" type="button">Registrar Ponto</button>
            <br>
            <br>
            <button class="default-button" onclick="buscaHistorico()" type="button">Visualizar histórico de pontos</button>
        </div>

        <div id="listagem" style="visibility: hidden;" class="login-container listagem-container">
        </div>
    </section>

</body>
</html>


<script type="module">
    import verificaToken from '/js/verificaToken.js';
    import getContentHome from '/js/home.js';

    verificaToken();
    getContentHome();
</script>

<script src="/js/buscaHistorico.js"></script>
<script src="/js/registraPonto.js"></script>