/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.background-black-align {
    background-color: #141414;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 100px;
}

.titulo-login { text-align: center; }

.default-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: #252525;
    color: #fff;
}

.default-button {
    width: 100%;
    padding: 10px;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.default-button:hover {
    background-color: #a020a0;
}

.error { color: red; text-align: center; }

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: #fff;
}

.navbar .title {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .menu {
    font-size: 2rem;
    cursor: pointer;
}

.listagem-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os balões */
}

.balao {
    background-color: #141414;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.btn-limpar {
    background-color: #ff2b2b; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-limpar:hover {
    background-color: #f30c0c; /* Cor de fundo ao passar o mouse */
}

.btn-limpar:active {
    background-color: #ff8383; /* Cor de fundo ao clicar */
}
