<nav class="navbar">
    <div class="title">Punch-in</div>
    {# <div class="menu">☰</div> #}
    <a style="cursor: pointer;" onclick="logout()" class="">Logout</a>
</nav>

<script src="/js/logout.js"></script>
